.wrapper {
  width: 100%;
  height: 100%;
  .main {
    width: 100%;
    height: 100%;
    background-image: url("../img/bc/pexels-francesco-ungaro-1525041.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .main_wrap {
      width: 100%;
      padding-top: 10px;

      img {
        width: 100%;
        max-width: 80px;
        margin-left: calc(50% - 40px);
        @media (max-width: $sm) {
          max-width: 50px;
          margin-left: calc(50% - 25px);
        }
      }
      h1 {
        text-shadow: 1px 1px 1px white;
        width: 100%;
        font-family: $font-noto;
        max-width: 600px;
        font-size: $large;
        color: $myblack;
        margin-left: calc(50% - 300px);
        font-weight: bold;
        text-align: center;
        padding: 15px 0px;
        @media (max-width: $md) {
          margin-left: 0px;
          font-size: $medium;
          padding: 5px 0px;
        }
      }
    }
    p {
      font-family: $font-roboto;
      width: 100%;
      max-width: 600px;
      font-size: $small;
      color: $blue;
      margin-left: calc(50% - 300px);
      text-align: center;
      padding: 15px 0px;
      text-shadow: 1px 1px 1px black;
      @media (max-width: $md) {
        margin-left: 0px;
        margin-top: 10px;
      }
      @media (max-width: $md) {
        padding: 5px 0px;
      }
    }
    .laikas {
      font-family: $font-noto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding-top: 25px;
      width: 100%;
      max-width: 600px;
      margin-left: calc(50% - 300px);
      height: 25vmin;
      @media (max-width: $md) {
        margin-left: 0px;
      }
      @media (max-width: $md) {
        padding: 5px 0px;
      }
    }
    .dienos {
      text-shadow: 1px 1px 1px $grey;
      font-family: $font-roboto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $medium;
      height: 100%;
      width: 25%;
      margin: 2vmin;
      @media (max-width: $md) {
        font-size: $small;
      }
    }
    .mouse {
      width: 60px;
      height: 90px;
      border: 1px solid white;
      margin-left: calc(50% - 15px);
      margin-top: 80px;
      border-radius: 18px;
    }
  }
}
.email__form {
  width: 100%;
  max-width: 600px;
  margin-left: calc(50% - 300px);
  margin-top: 10%;
  @media (max-width: $md) {
    margin-left: 0px;
  }
  @media (max-width: $md) {
    padding: 5px 0px;
  }

  input {
    width: 100%;
    font-family: $font-noto;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $grey;
    font-size: $normal;
    text-transform: capitalize;
    &::placeholder {
      color: $grey;
      text-shadow: 1px 1px 1px white;
      line-height: 30px;
    }
  }
  button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    margin-left: calc(50% - 75px);
    text-transform: capitalize;
  }
}

.section {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;

  .section_wrap {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    .kaire_cont,
    .desine_cont {
      width: 95%;
      margin-left: 3px;
    }
    .para {
      font-size: $medium;
      text-transform: uppercase;
      padding: 40px 0px;
      font-weight: 900;
      padding:15px 0px;
      color: $myblack;
      @media (max-width: $xl) {
        font-size: $normal;
      }
    }
      p {
        font-family: $font-noto;
        padding:15px 0px;
        line-height: 35px;
        font-size: $normal;
        span {
           color: red;
        }
        @media (max-width: $xl) {
          font-size: $small;
        }
        
      }
      .animation {
        width: 100%;
        height: 100%;
        padding: 15px 0px;
        display: inline-block;
        .bar_row {
            width: 100%;
            height: 50px;
            margin: 1px 0px;
            label {
                width: 50%;
                float: left;
            }
            span {
width: 50%;
float: right;
text-align: right;
            }
        }
      }
    .kaire {
      width: 50%;
      float: left;
      // margin-right: 10px;
      @media (max-width: $xl) {
        width: 100%;
      }
    }
    .desine {
      float: left;
      width: 50%;

      @media (max-width: $xl) {
        width: 100%; 
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1200px;

  height: 100%;
  @media (max-width: $md) {
    width: 98%;
  }
}
